<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureGate - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="container">

  <h1 class="logo">🛡️ SecureGate</h1>
<p class="subtitle">Secure Authentication System</p>
    <h2>Login</h2>

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="👤 Enter Username"
            required>

        <div class="password-box">

            <input
                type="password"
                id="password"
                name="password"
                placeholder="🔒 Enter Password"
                required>

            <span class="eye" onclick="togglePassword()">👁</span>

        </div>

        <button type="submit">Login</button>
        <p>
            <a href="/forgot" style="color:#6FFFE9;">
            Forgot Password?
            </a>
        </p>
    </form>


    <p>Don't have an account?</p>

    <a href="/register">
        <button type="button">Create Account</button>
    </a>

</div>

<script>
function togglePassword(){

    var password=document.getElementById("password");
    var eye=document.querySelector(".eye");

    if(password.type==="password"){

        password.type="text";
        eye.innerHTML="🙈";

    }else{

        password.type="password";
        eye.innerHTML="👁️";

    }

}
</script>
</body>
</html>